@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Share Style */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
}

.display-flex {
    display: flex;
}

header,
main {
    width: 1440px;
    margin: 0 auto;
    margin-top: 87px;
}

.primary-color {
    color: #E02C6D;
}

.btn-primary {
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: white;
}

/* Navbar Styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.pages {
    list-style: none;
    gap: 35px;
    font-weight: 500;
    align-items: center;
}

.pages li>a {
    text-decoration: none;
    color: black;
}

/* Banner Styles */

.banner {
    margin-top: 80px;
    justify-content: space-between;
    gap: 475px;
    height: 475px;
}

.banner div {
    width: 50%;
}

.banner-image {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: 475px;
}

.banner-image img {
    width: 440px;
    height: 414px;
}

.title {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-btn {
    border-radius: 41px;
    margin-top: 20px;
}

/* Sponsor Styles */

.sponsors {
    margin-top: 69px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    border-top-width: thin;
}

.sponsor-image {
    padding: 36px 62px;
}

/* Collection Styles */

.collection {
    margin-top: 100px;
}

.coll-title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}

.collection-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-box {
    border: none;
    padding: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.collection-image {
    width: 100%;
}

.collection-title {
    font-size: 1.75rem;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 16px;
}

.collection-price {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.collection-description {
    font-size: .90rem;
    width: 250px;
    color: #5d5d69;
}

.see-more {
    margin-top: 50px;
    text-align: end;
}


/* Feature Styles */

.feature {
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 96px;
    align-items: center;
}

.feature div {
    width: 50%;
}

.feature-image img {
    width: 100%;
}

.feature-container-title {
    font-size: 2.40rem;
    font-weight: 700;
    margin-bottom: 18px;
}

.feature-container-des {
    margin-bottom: 20px;
    color: #5d5d69;
}

footer {
    background-color: rgb(25, 25, 63);
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 100px; */
    text-align: center;
}

.footer-title {
    font-size: 1.27rem;
    margin-bottom: 10px;
}

.footer-description {
    margin-bottom: 10px;
    color: #d9d9e4;
}

.footer-des2 {
    color: #d9d9e4;
}


/* Responsive For Mobile */

@media screen and (max-width: 576px) {

    header,
    main {
        width: 360px;
        margin: 0 auto;
        margin-top: 87px;
    }

    .navbar{
        flex-direction: column;
        gap: 30px;
    }
    .pages{
        gap: 15px;
    }

    .banner div{
        width: 100%;
    }

    .banner{
        flex-direction: column;
        gap: 50px;
        flex-direction: column-reverse;
        margin-top: 280px;
        text-align: center;
    }

    .banner-image{
        background-size: 350px;
        background-position: center;
    }

    .banner-image img{
        width: 302px;
        height: 302px;
    }

    .sponsors{
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        border: none;
        justify-content: center;
    }

    .sponsor-image{
        padding: 10px;
    }

    .sponsor-image img{
        width: 50px;
        height: 15px;
    }


    .collection-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .feature{
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }

    .feature div{
        width: 100%;
    }
}