@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Share Style */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

body {
    width: 1440px;
    margin: 0 auto;
    margin-top: 87px;
}

.btn-primary {
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: white;
}

/* Navbar Styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.pages {
    list-style: none;
    gap: 20px;
    font-weight: 500;
    align-items: center;
}

.pages li>a {
    text-decoration: none;
    color: black;
}

.pages>ul>img {
    width: 24px;
    height: 24px;
}

/* Banner Styles */

.banner {
    margin-top: 80px;
    justify-content: space-between;
    gap: 475px;
    height: 475px;
}

.banner div{
    width: 50%;
}

.banner-image {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: 475px;
}

.banner-image img {
    width: 440px;
    height: 414px;
}

.title {
    font-size: 3.25rem;
    font-weight: 700;
}

.banner-btn {
    border-radius: 41px;
    margin-top: 16px;
}

/* Sponsor Styles */

.sponsors{
    margin-top: 69px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    border-top-width:thin;
}

.sponsor-image{
    padding: 36px 62px;
}

/* Collection Styles */

.collection{
    margin-top: 100px;
}

.coll-title{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}

.collection-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-box{
    border: none;
    padding: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.collection-image{
    width: 100%;
}

.collection-title{
    font-size: 1.75rem;
    font-weight: 500;
}

.collection-price{
    font-size: 1.5rem;
    font-weight: 400;
}
.collection-description{
    font-size: .90rem;
    width: 250px;
    color: #5d5d69;
}
